.container {
  display: flex;
  flex-direction: column;
  height: 300px;
  width: 300px;
}

.green {
  background: green;
  flex-grow: 1;
}

.yellow {
  background: yellow;
  flex-grow: 1;
}

.purple {
  background: purple;
  flex-grow: 2;
}
