body {
  display: flex;
  flex-direction: column;
  margin: 0;
}

header {
  height: 30vh;
  position: relative;
}

.header-text {
  position: absolute;
  z-index: 100;
  color: #eaebed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  letter-spacing: 50px;
  font-size: 50px;
  font-family: "PingFang SC";
  font-weight: lighter;
}

.header-thumb {
  height: 60px;
  width: 60px;
  position: absolute;
  z-index: 100;
  top: 50%;
  transform: translateY(-50%);
}

img {
  width: 100vw;
  height: 30vh;
}

.container {
  display: flex;
  flex-direction: row-reverse;
  height: 100%;
  margin: 0;
  background-color: grey;
}

/* Mobile Styles */
@media only screen and (max-width: 750px) {

  .container {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 0;
    background-color: grey;
  }
}

main {
  /* flex-grow: 2; */
  /* width: 60%; */
  flex-basis: 65%;
  display: flex;
  flex-direction: column;
}

aside {
  /* flex-grow: 1; */
  /* width: 40%; */
  flex-basis: 35%;
  display: flex;
  flex-direction: column;
  height: 300px;
}

.maincontent {
  min-height: 150px;
  background-color: white;
  margin: 1% 1% 1% 1%;
  display: flex;
  flex-direction: row;
}

.maincontent-left {
  flex-basis: 15%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.upvote, .downvote {
  border: 0;
  outline: 0;
  font-size: 26px;
}

.maincontent-right {
  flex-basis: 85%;
}

.submitnewpost {
  margin: 2% 1% 1% 1%;
  border-radius: 0%;
  border: 0;
  outline: 0;
  background-color: #53a5db;
  color: #eaebed;
  letter-spacing: 5px;
  height: 30px;
  font-size: 90%;
}

.about {
  margin: 1% 1% 1% 1%;
  height: 60%;
  background-color: white;
}

.about-title {
  white-space: pre;
  line-height: 30px;
  vertical-align: middle;
  background-color: #f5f5f5;
}

.about-content-title {
  vertical-align: text-bottom;
  text-align: center;
  line-height: 40px;
}

.about-list {
  margin-left: 20px;
  line-height: 20px;
}

#hidden {
  display: none;
}

.submit-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

form {
  width: 70vw;
  height: 300px;
  background-color: burlywood;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin: 30px 0 0 0;
}

input {
  width: 60vw;
  margin: 20px;
  padding: 10px;
  font-size: 20px;
  background-color: rgb(234, 234, 234);
  border: none;
}

label {
  margin: 0 0 0 20px;
  font-size: 20px;
  font-weight: 900;
}

.post-button {
  height: 40px;
  width: 300px;
  background-color: rgb(60, 145, 215);
  color: rgb(231, 231, 231);
  font-weight: 500;
  font-size: 20px;
  margin: 15px;
}
