body {
  background: linear-gradient(.25turn, #3f87a6, #ebf8e1, #f69d3c);
}

.body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 600px;
}

.container1 {
  display: flex;
  align-items: center;
  box-shadow: 5px 5px 15px 5px #000;
}

.container2 {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.big {
  width: 555px;
  display: none;
}

.small {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 2px;
  width: 40px;
  box-shadow: 0 5px 5px 0 #000;
}

.small:hover {
  box-shadow: 0 0 2px 1px rgba(0, 140, 186, 1);
}

.display {
  position: relative;
}

.display-left {
  position: absolute;
  top: 50%;
  left: 0%;
  height: 100%;
  background-color: rgba(0, 140, 186, .5);
  border: none;
  outline: none;
  transform: translate(0%, -50%);
  -ms-transform: translate(-0%, -50%);
}

.display-right {
  position: absolute;
  top: 50%;
  right: 0%;
  height: 100%;
  background-color: rgba(0, 140, 186, .5);
  border: none;
  outline: none;
  transform: translate(0%, -50%);
  -ms-transform: translate(0%, -50%);
}
